#outer-wrapper {
  width: 680px;
  margin: auto;
}

/* tartalom */
#main-wrapper {
  width: 430px;
  float: left;
  padding: 10px;
  color: #333333;
}

/* oldalsáv */
#sidebar-wrapper {
  width: 220px;
  float: right;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
  margin: 5px;
  border: 1px solid;
  text-align: center;
}

img{
  padding-top: 16px;
}

h1{
  color: #666666;
  font-size: 32pt;
}

h2{
  color: #999999;
  font-size: 16pt;
}

h3{
  color: #CC6600;
  font-size: 16pt;
}